body, h3 {
  background-color: #34495e;
  font-family: 'Arvo', serif;
  color: white;
}

#h1 {
  text-align: center;
  font-size: 100px;
  color: white;
}

.btnExample {
  color: black;
  background-color: white;
  position: absolute;
  right: 10px;
  top: 5px;
  /*border: 3px solid #172E3D;*/
  display: inline-block;
}

table, th {
   border: 0px solid black;
   text-align: center;
   border-spacing: 10px;
}

.btnExample:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}

.pics {
  display: inline-block;
  align-content: center;
  margin: 0 auto;
  /*position: absolute;*/
}

#twitter{
    /*height: 40%;*/
    width: 60%;
    align-content: center;
    margin: 0 auto;
}

table {
    table-layout: fixed;
}

td {
  width: 33%
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
}
