body {
  background-color: #34495e;
  font-family: 'Arvo', serif;
  color: white;
}

#h1 {
  text-align: center;
  font-size: 100px;
  color: white;
}

.btnExample {
  color: black;
  background-color: white;
  position: absolute;
  right: 10px;
  top: 5px;
  /*border: 3px solid #172E3D;*/
  display: inline-block;
}

table, th {
   border: 1px solid black;
   text-align: center;
   border-spacing: 10px;
}

.btnExample:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}

.pics {
  display: inline-block;
  align-content: center;
  margin: 0 auto;
  /*position: absolute;*/
}

#twitter{
    /*height: 40%;*/
    width: 60%;
    align-content: center;
    margin: 0 auto;
}

/*#twitter {
  position: absolute;
  left: 100px;
  bottom: 230px;
}*/

/*#facebook {
  position: absolute;
  left: 400px;
  bottom: 230px;
}

#pinterest {
  position: absolute;
  left: 600px;
  bottom: 250px;
}

#youtube {
  position: absolute;
  left: 1080px;
  bottom: 240px;
}*/

/*iframe {
  position: absolute;
  left: 175px;
  bottom: 180px;
  display: inline-block;
  align-items: center;
  margin: 0 auto;
}*/
