<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="static/mainHandler.css">
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
</head>

<html>
  <body>
      <center>
      <img src="static/group.jpg" width="500" height="300" alt="us"><br></br>
      <br>

      We are a group of high school graduates who took part in the Google CSSI program.<br> The name abbreviation
      "JSH" was formed by taking intitals of our first names (Jade, Sigi, and Hannah).<br> We added
      an "it" at the end because we wanted to make the abbreviation a verb (such as when people say
      "Google it").<br> Together, we were given the amazing opportunity to partake in an unforgettable experience
      and develop a web application as a team.
      <br></br>
      <a href="/">
      <center><img src="static/home.jpg" width="50" height="50" alt="home screen"></a></center>

  </body>
</html>
