<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="static/mainHandler.css">
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

</head>

<html>
  <body>
      <br>
      <center>
        <h1>What is Post.it?</h1>
        <p>Post.it allows users to customize their social medias to have multiple Youtube videos, Pinterest boards, and Twitter feeds on one site at the same time. Users are also able to Tweet and Pin directly from the Post.it site.</p>
        <h1>Why was Post.It Developed?</h1>
        <p>There are multiple Social Medias such as Twitter, Facebook, etc. however, when users want to view social media content, they must switch between each individual site. Post.it prioritizes user experience and allows all content to be embedded in one place at the same time.</p> 
        <h1>How Does Post.it Work?</h1>
        <p>Users are able to customize the Pinterest boards, Youtube videos, and Twitter feeds by simply entering the URL of the prospective Social Medias once. The social media is saved and embedded to their profile. Users can embed an infinite number of Social Media links.</p> 
        <h1>Can anyone else see what I have on my Poster?</h1>
        <p>Post.it only allows each user to access their own embedded social media. However, if a user tweets or pins it will link to that profile. Users can feel free to embed guilty pleasure tweet profiles/youtube videos/boards they enjoy checking but don’t want anyone else to know about because no one else will be able to see.</p> 
      </center>

       <a href="/">
      <center><img src="static/home.jpg" width="50" height="50" alt="home screen"></a></center>
  </body>
</html>
