<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="static/mainHandler.css">
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
</head>

<html>
  <body>
    <center>
      <h1> How to use Post.it </h1>
      
      Our web application allows you to create your own "poster" - you can personalize
      what twitter feeds, youtube videos, and pinterest boards <br> you can have on your page.
      Even when you refresh and/or log out, your poster will remain the same. <br></br>

      Twitter: For Twitter, you will need to copy and paste the link of a twitter profile (i.e. https://twitter.com/humansofny) into the space provided. <br></br>

      Youtube: For Youtube, you will need to copy and paste a youtube video link (i.e. https://www.youtube.com/watch?v=31nOaXSeqSo) into the space provided. <br></br>
      
      Pinterest: For Pinterest, you will need to copy and paste a Pinterest board or user (i.e. https://www.pinterest.com/jaimieyeah/) into the space provided. <br></br>

      You can also click on the "Tweet" button, which will prompt another window and allow you to post on Twitter without having to open another window yourself. <br>
      Additionally, the "Pin It" button will allow you to pin images from our website onto your Pinterest account. <br></br>

      Happy posting! <br></br>
      <br>
      <a href="/">
      <center><img src="static/home.jpg" width="50" height="50" alt="home screen"></a></center>
      <center>
  </body>
</html>
