<!DOCTYPE html>

<html>
  <head>
    <!-- linking the mainHandler.css -->
    <link rel='stylesheet' type="text/css" href="static/mainHandler.css">
    <!-- font change -->
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <!-- source code for twitter -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- linking the mainHandler.js -->
    <script src ="static/mainHandler.js"></script>
    <script
      type="text/javascript"
      async defer
      // src="https://assets.pinterest.com/js/pinit.js">
    </script>
  </head>

  <body>
    <!-- This button refers to the signout button on the top right of the page -->
    <button align=center type="button" onclick="location.href='/signOutHandler'" class="btnExample"
     value="sign out" id="button">sign out</button>

    <h1 id=h1>post.it</h1>

     <button align=center type="button" onclick="location.href='/howToUse'" class="btnExample"
     value="how to use" id="buttonHowTo">How To Use</button>

    <table style="width:100%" cellspacing="0">
      <!--Social media logos-->
      <tr>
        <!--th denotes one column-->
        <th>
          <img class="pics" src="static/twitter.jpg" alt="twitter icon" width="200" height="200">
        </th>

        <th>
          <img class="pics" src="static/youtube.jpg" alt="youtube icon" width="200" height="200">
        </th>

        <th>
          <img class="pics" src="static/pinterest.jpg" alt="pinterest icon" width="200" height="200">
        </th>
      </tr>
    <!--Buttons-->
    <tr>
      <th>
      <br><br>
        <div style="float:right;"><iframe id=twitter
          src="https://platform.twitter.com/widgets/tweet_button.html?size=l&related=twitterapi%2Ctwitter&text=Post%20it%20here!"
          width="430"
          height="100"
          title="Twitter Tweet Button"
          style="border: 0; overflow: hidden;">
        </iframe></div>
      </th>
      <th>
      </th>
      <th>
        <a href="https://www.pinterest.com/pin/create/button/"
          width="400"
          height="19"
          title="Pinterest Button"
          style="border: 0; overflow: hidden;">
          <img src="https://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png"/>
        </a>
      </th>
    </tr>
    <!--User interaction-->
    <tr>
      <th>
        <iframe frameborder="0" width="420" height="1500" src = "/Twitter?position=1"></iframe>
        <!-- <iframe frameborder="0" width="420" height="350" src = "/Twitter?position=2"></iframe> -->
      </th>
      <th>
        <iframe frameborder="0" width="420" height="1500" src = "/Youtube?position=1"></iframe>
        <!-- <iframe frameborder="0" width="700" height="350" src = "/Youtube?position=2"></iframe> -->
      </th>
      <th>
        <iframe frameborder="0" width="700" height="1500" src = "/Pinterest?position=1"></iframe>
        <!-- <iframe frameborder="0" width="700" height="350" src = "/Pinterest?position=2"></iframe> -->
      </th>
    </tr>
  </table>

  </body>
</html>
