<!DOCTYPE html>

<html>
  <head>
    <!-- linking the mainHandler.css -->
    <link rel='stylesheet' type="text/css" href="static/mainHandler.css">
    <!-- font change -->
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <!-- source code for twitter -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- linking the mainHandler.js -->
    <script src ="static/mainHandler.js"></script>
    <script
      type="text/javascript"
      async defer
      // src="https://assets.pinterest.com/js/pinit.js">
    </script>
  </head>

  <body>
    <!-- This button refers to the signout button on the top right of the page -->
    <button align=center type="button" onclick="location.href='/signOutHandler'" class="btnExample"
     value="sign out" id="signout">sign out</button>

    <h1 id=h1>post.it</h1>

    <table style="width:100%">
      <!--Social media logos-->
      <tr>
        <!--th denotes one column-->
        <th>
          <img class="pics" src="static/twitter.jpg" alt="twitter icon" width="200" height="200">
        </th>

        <th>
          <img class="pics" src="static/youtube.jpg" alt="youtube icon" width="200" height="200">
        </th>

        <th>
          <img class="pics" src="static/pinterest.jpg" alt="pinterest icon" width="200" height="200">
        </th>
      </tr>
    <!--Buttons-->
    <tr>
      <th>
        <iframe
          src="https://platform.twitter.com/widgets/tweet_button.html?size=l&related=twitterapi%2Ctwitter&text=Post%20it%20here"
          width="430"
          height="28"
          title="Twitter Tweet Button"
          style="border: 0; overflow: hidden;">
        </iframe>
      </th>
      <th>
      </th>
      <th>
        <a href="https://www.pinterest.com/pin/create/button/"
          width="400"
          height="28"
          title="Pinterest Button"
          style="border: 0; overflow: hidden;">
          <img src="https://assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png"/>
        </a>
      </th>
    </tr>
    <!--User interaction-->
    <tr>
      <th>
        <a class="twitter-timeline" height="500" align=center href="https://twitter.com/KimKardashian">Tweets by KimKardashian</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </th>
      <th>
        <!-- <iframe width="420" height="350" src="https://www.youtube.com/embed/fw-QRyQcFH8" frameborder="0" allowfullscreen></iframe> -->
        <!-- <iframe width="420" height="315" src="https://www.youtube.com/embed/eeQwD190Qec" frameborder="0" allowfullscreen></iframe>
      </th> --> 
      <th>
        <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/khonaker/artistic-living/"></a>
      </th>
    </tr>
    </table>

  </div>
    <br>

    <!-- <div>
      <iframe width="420" height="315" src="https://www.youtube.com/embed/fw-QRyQcFH8" frameborder="0" allowfullscreen></iframe>
    </div> -->


    <div>
      <!-- <a class="twitter-timeline" href="https://twitter.com/KimKardashian">Tweets by KimKardashian</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
    </div>

  </body>
</html>
