<!DOCTYPE html>

<html>
  <head>
    <link rel='stylesheet' type="text/css" href="static/signIn.css">
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  </head>
  <body id="cool" align="center">
    <div>
      <div class='content'>
        <div class='visible'>
          <p>
            post
          </p>
          <ul>
            <!-- The unordered list contains the words that change in the signIn page -->
            <li>Twitter</li>
            <li>Youtube</li>
            <li>Pinterest</li>
            <li>.   it</li>
          </ul>
        </div>
      </div><br>
      <divalign="center">
        <!-- Picture of the icon -->
        <img class="pics" src="static/icon.jpg" alt="icon" width="160" height="160">
      </div>
    </div>
  </body>
</html>
