<!DOCTYPE html>

<html>
  <head>
    <link rel='stylesheet' type="text/css" href="static/signIn.css">
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <script src ="static/signIn.js"></script>
  </head>
  <body id="cool" align="center">

    <div>
      <br></br><br></br>
      <img class="pics" src="static/icon.jpg" alt="icon" width="160" height="160">

      <br></br>

        <div class="gridcontainer clearfix">
        <div class="grid_3">
        <div class="fmcircle_out">
          <a href="/aboutUs">
            <div class="fmcircle_border">
              <div class="fmcircle_in fmcircle_blah">
                <span>JSH.IT</span><img src="https://dl.dropbox.com/u/65958930/uploads/cssdeck/design.png" alt="" />
              </div>
            </div>
          </a>
        </div>
        </div>

        <div class="grid_3">
        <div class="fmcircle_out">
          <a href="{{login}}">
            <div class="fmcircle_border">
              <div class="fmcircle_in fmcircle_purple">
                <span>SIGN IN</span><img src="https://dl.dropbox.com/u/65958930/uploads/cssdeck/logo.png" alt="" />
              </div>
            </div>
          </a>
        </div>
        </div>

        <div class="grid_3">
        <div class="fmcircle_out">
          <a href="/aboutIt">
            <div class="fmcircle_border">
              <div class="fmcircle_in fmcircle_blah">
                <span>POST.IT</span><img src="https://dl.dropbox.com/u/65958930/uploads/cssdeck/develop.png" alt="" />
              </div>
            </div>
          </a>
        </div>
        </div>
        </div>

        <!--<div>
          <div class='content'>
            <div class='visible'>
              <p>
                post
              </p>
              <ul>
                <!-- The unordered list contains the words that change in the signIn page
                <li>Twitter</li>
                <li>Youtube</li>
                <li>Pinterest</li>
                <li>.   it</li>
              </ul>
            </div>
          </div><br>
        </div>-->


        <section class="intro"></section>
    </div>
  </body>
</html>
