<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="static/mainHandler.css">
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
</head>

<html>
  <body>
      <form method="post" action ="">
         <h3>Enter a Twitter Link : <input type="text" name="TwitterLink" placeholder="http://twitter.com/taylorswift13"/></h3>
         <input type=hidden name="position" value={{position}}/>
         <p><input type="submit" value="Submit"></p>
       </form>
       {% for url in urls %}
          {{url.link}}
       {% endfor %}
  </body>
</html>
